*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    /* COLORS */
    --HEADER-RED: #5c5346;
    --FONT-COLOR: white;    
    --BODY-GRAY: #5c5346;
    --HEADER-HOVER-BLUE: rgba(130, 166, 168, 0.993);
    --Education-PBGCOLOR: rgb(82, 59, 28);
    --POPPING-RED: brown;
}
.wrap{
    white-space:wrap;
}
.myphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%; 
}
.nav-container {
background-color: black;
font-size: large;
height: 3em;
border-radius: 1em;
}
.nav-container a {
  font-family: sans-serif;
  font-weight: 400;
  padding: 3em;
  color: white;
}
.nav-container a:hover {
  background-color: aliceblue;  
  color: #000;    
}

/* WELCOME SECTION */

.section__first{
    width: 60%;
    height: 600px;
    padding-left: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: url("Photos/7.png");
    background-repeat: no-repeat;
    background-position: center;
    }

.section__h1 
{
    font-size: 1.3em;
    font-weight: 900;
    color: black;
    text-align: center;
}

.section__p{
    font-style: italic;
    font-size: .9em;
    color: black;
    text-align: center;
}

.section__Educations{   
    background-color: var(--HEADER-HOVER-BLUE);
}

.section__Educations h2{
    color: var(--FONT-COLOR);
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    padding-top: 3rem;
}

.Educations__div{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.Educations__p{
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    text-align: center;
    padding: 1rem;
    position: relative;
}

.Educations__p:hover::after{
    content: '/>';
    color: orange;
    position: absolute;
    right: 20px;
}

.Educations__p:hover::before{
    content: '<';
    color: orange;
    position: absolute;
    left: 20px;

}
.div__button{
    text-align: center;
    margin-top: 3rem;
}

.section__technical{
    background-color: var(--HEADER-HOVER-BLUE);
}

.section__technical h2{
    color: var(--FONT-COLOR);
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    padding-top: 3rem;
}

.technical__div{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.technical__p{
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    text-align: center;
    padding: 1rem;
    position: relative;
}

.technical__p:hover::after{
    content: '/>';
    color: orange;
    position: absolute;
    right: 20px;
}

.technical__p:hover::before{
    content: '<';
    color: orange;
    position: absolute;
    left: 20px;

}
.div__button{
    text-align: center;
    margin-top: 3rem;
}
-------------------------

.experience__button{
    padding: 1rem 1.5rem;
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    font: inherit;
    cursor: pointer;
}
.experience__button:hover{
    background: var(--POPPING-RED);
    transition: background 0.5s ease;
}
.section__experience{
    background-color: var(--HEADER-HOVER-BLUE);
}
.section__experience h2{
    color: var(--FONT-COLOR);
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    padding-top: 3rem;
}
.experience__div{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.experience__p{
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    text-align: center;
    padding: 1rem;
    position: relative;
}
.experience__p:hover::after{
    content: '/>';
    color: orange;
    position: absolute;
    right: 20px;
}
.experience__p:hover::before{
    content: '<';
    color: orange;
    position: absolute;
    left: 20px;
}
.div__button{
    text-align: center;
    margin-top: 3rem;
}
.experience__button{
    padding: 1rem 1.5rem;
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    font: inherit;
    cursor: pointer;
}
.experience__button:hover{
    background: var(--POPPING-RED);
    transition: background 0.5s ease;
}

-------------------------

.govt__button{
    padding: 1rem 1.5rem;
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    font: inherit;
    cursor: pointer;
}
.govt__button:hover{
    background: var(--POPPING-RED);
    transition: background 0.5s ease;
}
.section__govt{
    background-color: var(--HEADER-HOVER-BLUE);
}
.section__govt h2{
    color: var(--FONT-COLOR);
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    padding-top: 3rem;
}
.govt1__p:hover::after{
    content: '/>';
    color: orange;
    position: absolute;
    right: 20px;
}
.govt1__p:hover::before{
    content: '<';
    color: orange;
    position: absolute;
    left: 20px;
}
.div__button{
    text-align: center;
    margin-top: 3rem;
}
.govt__button {
    padding: 1rem 1.5rem;
    background-color: var(--Education-PBGCOLOR);
    color: var(--FONT-COLOR);
    font: inherit;
    cursor: pointer;
}
.govt__images {
    width: 30em;
    height: 50%;
    bor
}
.govt__button:hover{
    background: var(--POPPING-RED);
    transition: background 0.5s ease;
}
/* CONTACT SECTION */
.section__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Education-PBGCOLOR);
    gap: 2rem;
}
.contact__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--FONT-COLOR);
}
.contact__h2{
    font-size: 3rem;
}
.contact__links a{
    color: var(--FONT-COLOR);
    padding: 2rem;
    text-decoration: none;
}

.contact__links a:hover{
    transform: translateY(-2rem);
    transition: all 0.5s ease;
}

/* || FOOTER */
.footer{
    height: 120px;
    background-color: rgb(52, 53, 58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid var(--POPPING-RED);
}

.footer p{
    color: white;
    padding: 1rem;
}

.footer__link{
    color: var(--FONT-COLOR);
    text-decoration: none;
}

/* DARK MODE */
@media(prefers-color-scheme: dark){
    :root{
        --HEADER-RED: rgb(233, 116, 116);
        --FONT-COLOR: whitesmoke;
        --BODY-GRAY: rgb(70, 70, 71);
        --HEADER-HOVER-BLUE: rgb(30, 30, 44);
        --Education-PBGCOLOR: rgb(52, 53, 58);
        --POPPING-RED: rgb(216, 224, 96);
    }
}
